build/*
debian/build/*
debian/com.github.calo001.fondo.debhelper.log
debian/com.github.calo001.fondo.substvars
debian/com.github.calo001.fondo/
debian/debhelper-build-stamp
debian/files
.flatpak-builder/