[Desktop Entry]
Name=Fondo
Comment=
Icon=com.github.calo001.fondo
Exec=com.github.calo001.fondo
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Accesories;
Keywords=wallpaper;unsplash;foto;image;photo;
X-GNOME-UsesNotifications=true
