[Desktop Entry]
Name=Fondo
Comment=Find the most beautiful wallpapers for your desktop.
Icon=com.github.calo001.fondo
Exec=com.github.calo001.fondo
Terminal=false
Type=Application
StartupNotify=true
Categories=Utility;Accesories;
Keywords=wallpaper;unsplash;foto;image;photo;background;
X-GNOME-UsesNotifications=true
